html
    head
        link(rel="stylesheet" href="/css/main.css")
    body
        .diving-app
            header
                .logo
                    img(src="/img/home.png")
                    span HOMEPAGE
                nav
                    ul.list
                        li.item
                            a.home(href="#") home
                        li.item
                            a(href="#") dive into
                        li.item
                            a(href="#")  contact
            .container
                section.slogan
                    h1
                        | Lorem ipsum. Dolor sit amet.
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue mauris augue neque gravida in fermentum. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. 
                    .actions
                        button.btn.btn-primary.btn-form Form
                        button.btn.btn-shadow XXX
                footer.app-footer
                    || Created with 💙 by Pola
            .box.box-form(style=validated ? "display: block" : "display: none")
                .box-content
                    h2 Dive into adventure
                    form(action="/applications" method="POST")
                        .form-item
                            label What's your name?
                            input(placeholder="John Doe" type="text" name="name" value=validated ? validated.name : '')
                            if (errors && errors.name)
                                p.error #{ errors.name.msg }
                        .form-item
                            label What's your email?
                            input(placeholder="john@example.com" type="text" name="email" value=validated ? validated.email : '')
                            if (errors && errors.email)
                                p.error #{ errors.email.msg }
                        .form-item
                            label Leave a message
                            textarea(placeholder="Please feel free to ask us anything" rows="5" name="message") #{ validated ? validated.message : '' }
                            if (errors && errors.message)
                                p.error #{ errors.message.msg }
                        .form-item
                            button.btn.btn-primary Dive into adventure
            .box.box-message(style=(formMessage && formMessage.length) ? "display: block" : "display: none")
                .box-content
                    h2 #{ formMessage }
                    button.btn.btn-primary.btn-close Close 

    script(src="/js/script.js")